#root {
  width: 100%;
  height:100%;
}

.title {
  font-size: 2.8em;
  color: black;
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-family: 'Righteous', sans-serif;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #fa426b;
  -webkit-text-fill-color: black; 
}



@media (max-width: 1024px) {
  .title {
    font-size: 2.2rem;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 1.2rem;
  }
}
@media (max-width: 425px) {
  .title {
    font-size: 1rem;
  }
}